<html>
<head>
    <title>{% block title %}Гостевая кника{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}">
</head>

{% block content %}

{% endblock %}

</body>
</html>