{% extends "JayaTestWebBundle::base.html.twig" %}
{% block content %}
{% if error is defined %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}
 <form action="{{ path('_security_check') }}" method="POST">
        <table>
            <tr>
                <td>
                    <label for="userName">Логин:</label>
                </td>
                <td>
                    <input type="text" id="userName" name="_userName" value="{{ last_username }}" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Пароль:</label>
                </td>
                <td>
                    <input type="password" id="password" name="_password" />
                </td>
            </tr>
        </table>
        <input type="submit" name="login" class="btn btn-primary" value="Отправить" />
    </form>
{% endblock %}
